<html>
    <head>
        <title>Symeon</title>
         {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'books/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'books/css/symeon.css' %}" />
        <link href="{%static 'books/css/main.css'%}" rel="stylesheet">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0 "/>
    </head>
    <body>
     
      <div class="vid-container left" style="height:100%">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://videvo.net/videvo_files/converted/2015_02/videos/Flicking_Through_Book_001_Videvo.mov57949.mp4" type="video/mp4">
  </video>
  <nav class="navbar navbar-default" style="background-color:rgba(0,0,0,0.1);border:none;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Symeon</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class=" inner-container">
    <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://videvo.net/videvo_files/converted/2015_02/videos/Flicking_Through_Book_001_Videvo.mov57949.mp4" type="video/mp4">
    </video>
    <div class="box">
      <h1>Login</h1>
      <input type="text" placeholder="Username"/>
      <input type="password" placeholder="Password"/>
      <button>Login</button>
      <p>Not a member? <span>Sign Up</span></p>
    </div>
  </div>
</div>
    </body>
</html>